{{#if loggedIn}}
  You are logged in, no need to log in.
{{else}}
  <form method="POST">
    Username <input type="text" name="username"><br>
    Password <input type="password" name="password"><br>
    <script type="text/javascript" src="http://api.solvemedia.com/papi/challenge.script?k=muaF2Cr7FRIiO6rR567KeqtmvIF18of1">
    </script>
    <br>
    <input type="submit" value="login">
  </form>
{{/if}}
